#middle{
    margin:80px 0 100px 0;
}
#shouye p{
    text-align: center;
    line-height: 40px;
    height:40px;
    width:100px;
    
    font-size: 14px;
}
#shouye  p:hover{
    background: red;
}
#left{
    margin-top:50px;
}
#right{
    background:#F2F2F2;
    height:472px;
   
    text-align: center;
}
#right p{
    margin-bottom:15px ;
    color:#fff;
    width:100%;
    background: red;
    height:50px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}
#right img{
    background: red;
}
#right input{
    margin-top:10px;
    width:200px;
    height:30px;
    
}
#right #btn{
    width: 230px;
    color:#fff;
   
    border-radius: 6px;
    background: green;
}

#right #span{
    padding-top:10px;
    width:230px;
    margin: 0 auto;
}
#right #span a{
    color:yellowgreen;
}
#right #span #left-span{
    float: left;
}
#right #span #right-span{
    float: right;
}
#right b{
    position:absolute;
    display: none;
    color:red;
    left:103px;
}
 #right #code{  
    font-family:Arial;  
    font-style:italic;  
    font-weight:bold;  
    border:0;  
    letter-spacing:2px;  
    color:blue;  
    width:50px;
}

#right #input{
    width:143px;
}
